@import "tailwindcss";
body{
    font-family: "Fira Code", monospace;
    background-color: #002d3d;
    color: #48ff00;
    padding: 20px;
    text-align: center;

    
}
#schnaps {
    width: 30%;
    height: 30%;
    border-radius: 20px;
    padding: 100px;

    animation: spin 2s linear infinite;
}
h1{
    color: #279c00;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size:  40px;
}
.card-title{
    padding-top: 20px;
    font-size:  30px;
    text-align: center;
    color: #279c00;
}
#projects-headline{
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
p{
    padding: 20px;
}
.card-body{
    background-color: slategrey;

}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}